In [14]:
import pandas as pd
from sklearn.metrics import roc_auc_score
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [15]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [16]:
X_test.head(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,57,1,0,150,276,0,0,112,1,0.6,1,1,1,0
1,59,1,3,170,288,0,0,159,0,0.2,1,0,3,0
2,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
3,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
4,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1

In [17]:
y_test.head(5)

   output
0       0
1       0
2       1
3       0
4       1

In [18]:
with open('GB_pipeline.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [19]:
predictions = pipeline.predict_proba(X_test)
pd.DataFrame({'preds': predictions[:, 1]}).to_csv("test_predictions.csv", index=None)

In [20]:
y_score=predictions[:, 1][:]
y_true=y_test.iloc[:]

In [21]:
roc_auc_score(y_score=predictions[:, 1][:], y_true=y_test.iloc[:])

0.908405172413793